

body {
  font-family: 'gothic', sans-serif;
  width: 85%;
  margin: 0 auto;
  margin-top: 21px ;
  margin-bottom: 21px ;
  padding: 28px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  border: lightblue 10px solid;
  border-radius: 21%;
  background-image: url("bookmark-background.jpg")
}
fieldset{
  border: transparent;
  margin: 0;
}
body h1{
  text-align: center;
  font-size: 42px;
}

main{
  background-color: snow;
  border: lightskyblue 3px dotted;
  border-radius: 21%;
  padding: 10px;
}
button {
  padding: 5px;
  border-radius: 12%;
  border: lightblue 1px solid;
  margin: 3px;
  background-color: lightskyblue;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.filter-box{
  padding:7px;
}

#filter-rating{
  background-color: lightskyblue;
}
.container {
  max-width: 600px;
  margin: 21px;
  padding: 21px;
  display: flex;
  justify-content: space-evenly;

}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  
}

.js-url{
  display: flex;
  flex-direction: column;
  margin: 14px;
}

.js-url-list-entry{
  margin: 7px;
  border: lightskyblue 1px solid;

}
.js-url-title-entry{
  margin: 7px;
  border: lightskyblue 1px solid;
}

.js-url-list-description{
  display: flex;
  flex-direction: column;
  margin: 7px;

}
.js-url-list-description #description{ 
  margin: 7px;
  border: lightskyblue 1px solid;
}

.hide{

 font-size: xx-small;
 margin: 84px 21px;
 margin-left: 200px;
}
.url-item {
  display: block;
  color: grey;
  border: blue solid 1px;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}
 li {
  margin: 21px 21px;
  margin-left: 0;
  margin-right: 21px;
  margin-bottom: 44px;
  border-radius: 21%;
  border: 1px solid blue;
  padding: 28px;
}

li #name{
  font-size: 21px;
  margin: 7px
}

li #urlName{
  font-size: 14px;
  margin: 7px;
  color: blue;
}
li #description{
  font-size: 14px;
  color: red;
  margin: 7px;
}

li #rating{
  font-style: italic;
  color: purple;
  font-size: 14px;
  float: right;
}

#js-url-list-form{
  height: 200px;
  padding: 7px;
}

/* .js-url-titles{
  margin: 7px;
  margin-top: 0;
} */

.js-url-list{
  
  border-radius: 21%;
  list-style: none;
  margin: 7px;
  padding-right: 7px;
}
  




.js-url-ratings #rating{
  border: 1px lightskyblue solid;

}

.js-item-delete{
  margin: 14px;
}

a{
  text-decoration: none;
}

@media all and (min-width:800px){
  
  body{
    width:80%
  }
  .form-container #js-url-list-form{
    display: flex;
    padding: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
  }
  .js-url-ratings #rating{
    border: 1px lightskyblue solid;
    
  }
  .container {
    max-width: 100%;
    margin: 21px;
    padding: 21px;
    display: flex;
    justify-content: space-evenly;
  
  }
}