

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
  padding: 21px;
  padding-bottom: 42px;
  border: solid 5px grey;
  display: flex;
  flex-direction: column;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}


.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  
}

.js-url{
  display: flex;
  flex-direction: column;
  margin: 14px;
}

.js-url-list-entry{
  margin: 7px;
  border: palegreen 1px solid;

}
.js-url-title-entry{
  margin: 7px;
  border: palegreen 1px solid;
}

.js-url-list-description{
  display: flex;
  flex-direction: column;
  margin: 7px;

}
.js-url-list-description #description{ 
  margin: 7px;
  border: palegreen 1px solid;
}




.hide{

 font-size: xx-small;
 margin: 42px 21px;
 margin-left: 200px;
}
.url-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}
 li {
  margin: 21px 21px;
  margin-left: 0;
  margin-right: 21px;

  border: 1px solid grey;
  padding: 20px;
}

li #name{
  font-size: 21px;
  margin: 7px
}

li #urlName{
  font-size: 14px;
  margin: 7px;
  color: blue;
}
li #description{
  font-size: 14px;
  color: red;
  margin: 7px;
}

li #rating{
  font-style: italic;
  color: purple;
  font-size: 14px;
  float: right;
}

#js-url-list-form{
  height: 200px;
  padding: 7px;
}

/* .js-url-titles{
  margin: 7px;
  margin-top: 0;
} */

.js-url-list{
  border: 3px blue solid;
  list-style: none;
  margin: 7px;}




.js-url-ratings #rating{
  border: 1px greenyellow solid;

}

.js-item-delete{
  margin: 14px;
}

a{
  text-decoration: none;
}

@media all and (min-width:800px){
  
  body{
    width:80%
  }
  .form-container #js-url-list-form{
    display: flex;
    padding: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: lightgreen 1px dotted;
    
  }
  .js-url-ratings #rating{
    border: 1px greenyellow solid;
    align-self: ;
  }
}