* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
  padding: 21px;
  padding-bottom: 42px;
  border: solid 5px grey;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-container li {
  list-style: none;
  padding-left: 0;
}

 li {
  margin: 21px;
  border: 1px solid grey;
  padding: 20px;
}

li #name{
  font-size: 21px;
  margin: 7px
}

li #description{
  font-size: 14px;
  color: blue;
  margin: 7px;
}

li #rating{
  font-style: italic;
  color: purple;
  font-size: 14px;
  float: right;
}

.url-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

#js-url-list-form{
  height: 200px;
  padding: 7px;
}

.js-url-titles{
  margin: 7px;
  margin-top: 0;
}

.js-url-list-entry{
  border: 3px blue solid;
}
.js-url-list-description{
margin: 7px;}

.js-url-list-description #description{ 

  border: 3px blue solid;

}

.js-url-ratings{
  margin: 7px;
  float: right;
}

.js-url-ratings #rating{
  border: 3px blue solid;

}

.js-item-delete{
  margin: 14px;
}

.url-item__condense {
  
}